body, html { 
    height: 100%;
    margin: 0;
    padding: 0;
 }
#map { height: 100%; }

.city_label{    
    background: none !important;
    color: #fffd !important;
    border: none !important;
    box-shadow: none !important;
}

.city_label::before{    
    display: none;

}